<div class="mt-4">
  <h3>Khoá học đã xóa</h3>
  <a href="/me/courses">Danh sách khóa học</a>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khoá học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Ngày xóa</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.deletedAt}}</td>
        <td>
          <a href="" class="btn btn-link btnRestore" data-id="{{this._id}}">Khôi phục</a>
          <a href="" data-toggle="modal" data-id="{{this._id}}" data-target="#deleteCourse"  class="btn btn-link">Xoá vĩnh viễn</a>
        </td>
        {{else}}
        <th>
          <td colspan="5" class="text-center">Thùng rác rỗng.</td>
        </th>
      {{/each}}
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        Hành động này không thể khôi phục. Bạn vẫn muốn thực hiện hành động này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-danger" id="btnDelete">Xóa vĩnh viễn</button>
      </div>
    </div>
  </div>
</div>
<form name="form_restore" method="POST"></form>
<form name="form_force_delete" method="POST"></form>
<script>
  document.addEventListener('DOMContentLoaded', function(){
    var id;
    var formRestore = document.forms['form_restore'];
    var formForceDelete = document.forms['form_force_delete'];
    var btnDelete = document.getElementById('btnDelete');
    var btnRestore = $('.btnRestore');
    
    $('#deleteCourse').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      id = button.data('id');
    });
    btnDelete.onclick = function(){
      formForceDelete.action = '/courses/'+id+'/force?_method=DELETE';
      formForceDelete.submit();
    };
    btnRestore.click(function(event){
      event.preventDefault();
      var courseId = $(this).data('id');
      formRestore.action = '/courses/'+courseId+'/restore?_method=PATCH';
      formRestore.submit();
    });
  });
</script>